{% load static i18n %}
<li>
  <img src="{% static 'images/custom/puzzle-light-green.svg' %}" alt="" aria-hidden="true" draggable="false">
  <span>{% trans "Учитывает ваши требования - тематику, сложность, возраст детей, обучающие задачи." %}</span>
</li>
<li>
  <img src="{% static 'images/custom/puzzle-light-green.svg' %}" alt="" aria-hidden="true" draggable="false">
  <span>{% trans "Решает конкретные задачи - развитие речи, логики, памяти, изучение цифр, букв и многое другое." %}</span>
</li>
<li>
  <img src="{% static 'images/custom/puzzle-light-green.svg' %}" alt="" aria-hidden="true" draggable="false">
  <span>{% trans "Готова к печати и использованию - удобный формат для дома и садика." %}</span>
</li>
<li>
  <img src="{% static 'images/custom/puzzle-light-green.svg' %}" alt="" aria-hidden="true" draggable="false">
  <span>{% trans "Всего" %} <span class="{{ accent_class }}">{% trans "5 шагов" %}</span> {% trans "к распечатке дома." %}</span>
</li>
