{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}PaliGames{% endblock %}</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    {% if analytics_enabled %}
      <script>
        window.dataLayer = window.dataLayer || [];
      </script>
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ gtm_id|escapejs }}');
      </script>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="{% static 'js/dialogs.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
    {% if analytics_enabled %}
      <script src="{% static 'js/analytics.js' %}" defer></script>
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body
    class="min-h-screen bg-gray-50 text-gray-900 pb-[110px] min-[1024px]:pb-0"
    data-page-name="{{ request.resolver_match.url_name|default:'' }}"
    data-page-title="{% block page_title %}{% block title_text %}PaliGames{% endblock %}{% endblock %}"
    data-user-type="{% if request.user.is_authenticated %}authenticated{% else %}guest{% endif %}"
    data-catalog-suggest-url="{% url 'catalog-search-suggest' %}"
  >
    {% if analytics_enabled %}
      <noscript>
        <iframe
          src="https://www.googletagmanager.com/ns.html?id={{ gtm_id|urlencode }}"
          height="0"
          width="0"
          style="display:none;visibility:hidden"
        ></iframe>
      </noscript>
    {% endif %}
    {% block body %}{% endblock %}
  </body>
</html>
