{% extends "base/_document.html" %}

{% block body %}
  {% include "includes/header.html" %}

  <main class="{% block main_class %}mx-auto max-w-6xl px-4 py-8{% endblock %}">
    {% block content %}{% endblock %}
  </main>

  {% include "includes/footer.html" %}

  {% include "components/page_notification.html" %}

  {% include "includes/mobile_bottom_nav.html" %}

  {% include "components/modals/login_dialog.html" %}
  {% include "components/modals/signup_dialog.html" %}
  {% include "components/modals/password_reset_dialog.html" %}
  {% include "components/modals/logout_confirm_dialog.html" %}
  {% include "components/modals/cart_clear_dialog.html" %}
{% endblock %}
