{% extends "email/base.html" %}

{% block content %}
  <p>Ваша игра готова!</p>
  <p>Игра на заказ №{{ request.payment_account_no }} готова к скачиванию.</p>
  <p>Ссылка действует <strong>{{ custom_game_download_expire_hours }} часа(ов)</strong> и может быть использована до <strong>{{ custom_game_download_max_downloads }} раз</strong>.</p>
  <p><a href="{{ download_url }}">Скачать игру</a></p>
  <p>Если ссылка больше не открывается, скорее всего истёк срок действия или исчерпан лимит скачиваний.</p>
  <p>С уважением,<br>команда PaliGames</p>
{% endblock %}
