{% extends "email/base.html" %}

{% block content %}
  <p>Поступила новая заявка на игру №{{ request.payment_account_no }}.</p>
  <p><strong>Контактные данные:</strong><br>Имя: {{ request.contact_name }}<br>Email: {{ request.contact_email }}</p>
  <p><strong>Детали заявки:</strong></p>
  <p><strong>Название игры:</strong> {{ request.subject|linebreaksbr }}</p>
  <p><strong>Возраст:</strong> {{ request.audience|linebreaksbr }}</p>
  <p><strong>Количество страниц:</strong> {{ request.page_count|linebreaksbr }}</p>
  <p><strong>Пожелания к содержанию:</strong> {% if request.idea %}{{ request.idea|linebreaksbr }}{% else %}—{% endif %}</p>
  <p><a href="{{ admin_url }}">Открыть заявку в админке</a></p>
{% endblock %}
