{% extends "base/base.html" %}

{% block title %}Главная — PaliGames{% endblock %}

{% block main_class %}w-full px-0 py-0{% endblock %}

{% block content %}
  {% include "components/dividers/clouds.html" %}
  {% include "pages/home/sections/01_hero.html" %}
  {% include "components/dividers/clouds.html" %}
  {% include "pages/home/sections/02_why_choose.html" %}
  {% include "components/dividers/clouds.html" %}
  {% include "pages/home/sections/03_catalog_categories.html" %}
<!--  {% include "components/dividers/clouds_big.html" %}-->
<!--  {% include "pages/home/sections/04_custom_game.html" %}-->
<!--  {% include "components/dividers/clouds.html" %}-->
<!--  {% include "pages/home/sections/05_top_games.html" %}-->
<!--  {% include "components/dividers/clouds.html" %}-->
<!--  {% include "pages/home/sections/06_cta_ready_games.html" %}-->
<!--  {% include "components/dividers/clouds.html" %}-->
<!--  {% include "pages/home/sections/07_reviews.html" %}-->
  {% include "components/dividers/clouds.html" %}
{% endblock %}
