{% extends "base/base.html" %}

{% load static i18n %}

{% block title %}{% trans "Товар" %} — PaliGames{% endblock %}

{% block head %}
  <script src="{% static 'js/vendor/htmx.min.js' %}" defer></script>
  <script src="{% static 'js/product-gallery.js' %}" defer></script>
{% endblock %}

{% block main_class %}w-full px-0 py-0{% endblock %}

{% block content %}
  {% include "components/dividers/clouds.html" %}
  <div class="min-[1024px]:hidden">
    {% include "pages/product/product_mobile.html" %}
  </div>

  <div class="hidden min-[1024px]:block">
    {% include "pages/product/product_desktop.html" %}
  </div>
  {% include "components/dividers/clouds.html" %}
{% endblock %}
