{% extends "email/base.html" %}

{% block content %}
  <p style="margin:0 0 16px;font-size:16px;line-height:24px;">
    Здравствуйте!
  </p>

  <p style="margin:0 0 20px;font-family:Arial,sans-serif;font-size:15px;line-height:22px;">
    Пароль для вашего аккаунта PalinGames был установлен.
  </p>

  <p style="margin:20px 0 0;font-family:Arial,sans-serif;font-size:15px;line-height:22px;">
    Если это были не вы, рекомендуем как можно скорее изменить пароль и написать в поддержку.
  </p>
{% endblock %}
