{% load static %}
<div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">
    <img
      src="{% static 'images/decor/clouds/cloud-3.svg' %}"
      alt=""
      class="absolute left-[170px] top-[26px] w-[84px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute right-[132px] top-[34px] w-[102px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute right-[120px] top-[410px] w-[126px] opacity-95"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-1.svg' %}"
      alt=""
      class="absolute left-[822px] top-[610px] w-[72px] opacity-75"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-1.svg' %}"
      alt=""
      class="absolute left-[1065px] top-[705px] w-[84px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute left-[1010px] top-[862px] w-[108px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-3.svg' %}"
      alt=""
      class="absolute left-[126px] bottom-[122px] w-[92px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute right-[182px] bottom-[84px] w-[98px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/airplanes/airplane-3.svg' %}"
      alt=""
      class="absolute right-[210px] top-[430px] w-[120px]"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/balloons/balloon-orange.svg' %}"
      alt=""
      class="absolute right-[318px] top-[612px] w-[38px]"
      draggable="false"
    >
  </div>
