{% load static %}
<div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute left-[52px] top-[34px] w-[88px] opacity-80 min-[1600px]:left-[96px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-3.svg' %}"
    alt=""
    class="absolute left-[210px] top-[238px] w-[64px] opacity-90 min-[1600px]:left-[320px] min-[1600px]:top-[250px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute left-[52%] top-[112px] w-[72px] -translate-x-1/2 opacity-85 min-[1600px]:top-[126px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute right-[246px] top-[196px] w-[78px] opacity-80 min-[1600px]:right-[356px] min-[1600px]:top-[214px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute right-[72px] top-[412px] w-[96px] opacity-90 min-[1600px]:right-[120px] min-[1600px]:top-[432px]"
    draggable="false"
  >

  <img
    src="{% static 'images/decor/airplanes/airplane-3.svg' %}"
    alt=""
    class="absolute right-[138px] top-[660px] w-[146px] opacity-95 min-[1600px]:right-[210px] min-[1600px]:top-[592px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute right-[40px] top-[636px] w-[132px] opacity-95 min-[1600px]:right-[84px] min-[1600px]:top-[670px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/balloons/balloon-orange.svg' %}"
    alt=""
    class="absolute right-[446px] bottom-[18px] w-[92px] opacity-95 min-[1600px]:right-[560px] min-[1600px]:bottom-[16px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-3.svg' %}"
    alt=""
    class="absolute left-[44%] bottom-[136px] w-[60px] -translate-x-1/2 opacity-80 min-[1600px]:bottom-[148px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute left-[128px] bottom-[76px] w-[72px] opacity-85 min-[1600px]:left-[188px]"
    draggable="false"
  >
</div>
