{% load static %}

<div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute left-[18px] top-[8px] w-[54px] opacity-90"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-3.svg' %}"
    alt=""
    class="absolute right-[28px] top-[22px] w-[56px] opacity-90"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute left-[40px] top-[126px] w-[44px] opacity-80"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute right-[14px] top-[164px] w-[48px] opacity-85"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-3.svg' %}"
    alt=""
    class="absolute left-[24px] top-[286px] w-[50px] opacity-90"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute right-[18px] top-[306px] w-[58px] opacity-85"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/balloons/balloon-pink.svg' %}"
    alt=""
    class="absolute left-[6px] top-[140px] w-[54px] opacity-80"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/airplanes/airplane-2.svg' %}"
    alt=""
    class="absolute left-[86px] top-[36px] w-[72px] opacity-75"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/airplanes/airplane-3.svg' %}"
    alt=""
    class="absolute right-[2px] top-[112px] w-[74px] opacity-70"
    draggable="false"
  >
</div>
