{% load static %}

<div class="pointer-events-none absolute inset-x-0 top-[34px] h-[420px] select-none overflow-visible" aria-hidden="true">
  <div class="relative left-1/2 h-full w-[420px] -translate-x-1/2">
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute left-[96px] top-[10px] w-[56px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-3.svg' %}"
      alt=""
      class="absolute left-[202px] top-[30px] w-[34px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute right-[6px] top-[52px] w-[64px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-1.svg' %}"
      alt=""
      class="absolute left-[14px] top-[178px] w-[54px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute left-[58px] top-[324px] w-[62px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-3.svg' %}"
      alt=""
      class="absolute right-[10px] top-[188px] w-[56px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-1.svg' %}"
      alt=""
      class="absolute right-[96px] top-[338px] w-[34px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-3.svg' %}"
      alt=""
      class="absolute left-[214px] top-[354px] w-[28px] opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/stars/star-orange.svg' %}"
      alt=""
      class="absolute left-[34px] top-[30px] w-[18px] opacity-80"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/stars/star-green.svg' %}"
      alt=""
      class="absolute right-[84px] top-[266px] w-[16px] opacity-80"
      draggable="false"
    >

    <img
      src="{% static 'images/decor/aerostats/aerostat-pink.svg' %}"
      alt=""
      class="absolute left-[2px] top-[276px] w-[54px] -scale-x-100 opacity-85"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/airplanes/airplane-3.svg' %}"
      alt=""
      class="absolute right-[86px] top-[8px] w-[54px] opacity-85"
      draggable="false"
    >
  </div>
</div>
