{% load static i18n %}

<section class="relative mx-auto max-w-6xl px-4 py-[50px]" data-account-mobile>
  {% include "pages/account/mobile/_decor.html" %}

  <div class="relative z-10">
    {% include "pages/account/copy/greeting.html" %}

    <div class="mt-[40px] flex flex-col gap-[40px]">
      {% include "pages/account/mobile/sections/_personal.html" %}
      {% include "pages/account/mobile/sections/_orders.html" %}
      {% include "pages/account/mobile/sections/_favorites.html" %}
      {% if user.has_usable_password %}
      {% include "pages/account/mobile/sections/_password.html" %}
      {% endif %}
      {% include "pages/account/mobile/sections/_logout.html" %}
    </div>

    {% include "pages/account/mobile/_demo_data.html" %}
  </div>
</section>
