{% load static %}

<div class="pointer-events-none absolute inset-0 select-none overflow-hidden" aria-hidden="true">
  <img
    src="{% static 'images/decor/clouds/cloud-3.svg' %}"
    alt=""
    class="absolute left-[8%] top-[12%] w-[120px] min-[1024px]:left-[12%] min-[1024px]:top-[18%] min-[1024px]:w-[180px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute right-[10%] top-[8%] w-[80px] min-[1024px]:right-[18%] min-[1024px]:top-[14%] min-[1024px]:w-[120px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute bottom-[18%] left-[14%] w-[48px] min-[1024px]:bottom-[22%] min-[1024px]:left-[22%] min-[1024px]:w-[54px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-2.svg' %}"
    alt=""
    class="absolute bottom-[10%] right-[12%] w-[90px] min-[1024px]:bottom-[16%] min-[1024px]:right-[20%] min-[1024px]:w-[110px]"
    draggable="false"
  >
  <img
    src="{% static 'images/decor/clouds/cloud-1.svg' %}"
    alt=""
    class="absolute right-[35%] top-[42%] hidden w-[54px] min-[1024px]:block"
    draggable="false"
  >
</div>
