{% load static i18n %}

<section class="relative overflow-hidden bg-[var(--color-white)]">
  <div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute left-[25px] top-[40px] w-[75px] opacity-80"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/clouds/cloud-2.svg' %}"
      alt=""
      class="absolute right-[25px] top-[75px] w-[50px] opacity-90"
      draggable="false"
    >
    <img
      src="{% static 'images/decor/balloons/balloon-orange.svg' %}"
      alt=""
      class="absolute right-[100px] top-[15px] w-[50px]"
      draggable="false"
    >
  </div>

  <div class="mx-auto w-full px-4 py-[50px]">
    <h1 class="text-center text-[24px] font-bold uppercase text-[var(--color-black)]">
      {% trans "Каталог" %}
    </h1>

    <div class="mx-auto mt-[40px] max-w-[360px] space-y-[15px]">
      {% for category in catalog_categories %}
        <a
          href="{{ category.url }}"
          class="flex items-center gap-x-[25px] rounded-[10px] {{ category.background_class }} px-[25px] py-[18px]"
        >
          <img
            src="{{ category.image_url }}"
            alt=""
            class="h-[34px] w-[41px] flex-none"
            draggable="false"
          >
          <div class="text-[18px] font-bold {{ category.text_class }}">
            {{ category.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
