{% load static i18n %}

<div class="hidden min-[1024px]:block">
  <div class="mx-auto px-4 pb-[70px] pt-[70px] min-[1920px]:px-[250px]">
    <div class="grid grid-cols-[1fr_auto_1fr] items-start gap-x-[120px] gap-y-20">
      <div class="order-1 text-left">
        <div class="text-[34px] font-semibold leading-[34px] text-[var(--color-black)]">
          {% trans "Информация" %}
        </div>
        <ul class="mt-[41px] space-y-[27px] text-[24px] font-semibold leading-[24px] text-[var(--color-black)]">
          <li><a href="{% url 'home' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Главная" %}</a></li>
          <li><a href="{% url 'catalog' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Каталог" %}</a></li>
          <li><a href="{% url 'alphabet-navigator' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Алфавитный навигатор" %}</a></li>
          <li><a href="{% url 'custom-game' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Игра на заказ" %}</a></li>
          <li><a href="{% url 'about' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "О нас" %}</a></li>
          <li><a href="{% url 'payment' %}" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Оплата" %}</a></li>
        </ul>
      </div>

      <div class="order-2 flex flex-col items-center">
        <img
          src="{% static 'images/logo.svg' %}"
          alt="Palin Games"
          class="mt-[75px] h-auto w-[clamp(400px,32vw,510px)] object-contain"
        >

        <div>
          <div class="mt-[234px] text-center text-[24px] font-semibold leading-[24px] text-[var(--color-black)]">
            {% trans "Мы в социальных сетях" %}
          </div>
          <div class="mt-[35px] flex items-center justify-center gap-[50px]">
            <a href="https://t.me/palingames_bot" aria-label="Telegram">
              <img src="{% static 'images/social/telegram.svg' %}" alt="" class="h-[65px] w-[65px]" aria-hidden="true">
            </a>
            <a href="https://www.instagram.com/palingamess/" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
              <img src="{% static 'images/social/instagram.svg' %}" alt="" class="h-[65px] w-[65px]" aria-hidden="true">
            </a>
          </div>
        </div>
      </div>

      <div class="order-3 text-right">
        <div class="text-[34px] font-semibold leading-[34px] text-[var(--color-black)]">
          {% trans "Каталог" %}
        </div>
        <ul class="mt-[41px] space-y-[27px] text-[24px] font-semibold leading-[24px] text-[var(--color-black)]">
          <li><a href="{% url 'catalog' %}?category=vizualizacia" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Визуализация" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=didakticheskiye-igry" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Дидактические игры" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=izuchaem-yazyki" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Изучаем языки" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=interaktivnye-igry" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Интерактивные игры" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=kartoteki" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Картотеки" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=lepbuki" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Лэпбуки" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=metodicheskie-materialy" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Методические материалы" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=oformlenie-gruppy" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Оформление группы" %}</a></li>
          <li><a href="{% url 'catalog' %}?category=tematicheskie-izobrazheniya" class="whitespace-nowrap hover:text-[var(--color-turquoise)]">{% trans "Тематические изображения" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
