{% load static i18n %}

<div class="min-[1024px]:hidden">
  <div class="mx-auto px-4 pb-[30px] pt-[50px]">
    <div class="grid gap-y-0">
      <div class="order-2 mt-[50px] text-center">
        <div class="text-[28px] font-bold leading-[28px] text-[var(--color-black)]">
          {% trans "Информация" %}
        </div>
        <ul class="mt-[15px] space-y-[10px] text-[16px] font-semibold leading-[16px] text-[var(--color-black)]">
          <li><a href="{% url 'home' %}" class="hover:underline">{% trans "Главная" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Каталог" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Алфавитный навигатор" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Игра на заказ" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "О нас" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Оплата" %}</a></li>
        </ul>
      </div>

      <div class="order-1 flex flex-col items-center">
        <img
          src="{% static 'images/logo.svg' %}"
          alt="Palin Games"
          class="h-[68px] w-[198px] max-w-full object-contain"
        >
      </div>

      <div class="order-3 mt-[40px] text-center">
        <div class="text-[28px] font-bold leading-[28px] text-[var(--color-black)]">
          {% trans "Каталог" %}
        </div>
        <ul class="mt-[15px] space-y-[10px] text-[16px] font-semibold leading-[16px] text-[var(--color-black)]">
          <li><a href="#" class="hover:underline">{% trans "Визуализация" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Дидактические игры" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Изучаем языки" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Интерактивные игры" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Картотеки" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Лэпбуки" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Методические материалы" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Оформление группы" %}</a></li>
          <li><a href="#" class="hover:underline">{% trans "Тематические изображения" %}</a></li>
        </ul>
      </div>

      <div class="order-4 mt-[35px] flex flex-col items-center">
        <div class="text-center text-[14px] font-semibold leading-[14px] text-[var(--color-black)]">
          {% trans "Мы в социальных сетях" %}
        </div>
        <div class="mt-[20px] flex items-center justify-center gap-[20px]">
          <a href="#" aria-label="Telegram">
            <img src="{% static 'images/social/telegram.svg' %}" alt="" class="h-[33px] w-[33px]" aria-hidden="true">
          </a>
          <a href="#" aria-label="Instagram">
            <img src="{% static 'images/social/instagram.svg' %}" alt="" class="h-[33px] w-[33px]" aria-hidden="true">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
