{% load static i18n %}
<a href="#" class="main-menu color-pink text-decoration-none">
  <img src="{% static 'images/header/menu_main.svg' %}" alt="">
  <div class="menu-label">{% trans "Main" %}</div>
</a>
<a href="#" class="main-menu color-orange text-decoration-none">
  <img src="{% static 'images/header/menu_catalog.svg' %}" alt="">
  <div class="menu-label">{% trans "Catalog" %}</div>
</a>
<a href="#" class="main-menu color-yellow text-decoration-none">
  <img src="{% static 'images/header/menu_abc.svg' %}" alt="">
  <div class="menu-label">{% trans "Alpnabet" %}</div>
  <div class="menu-label">{% trans "navigator" %}</div>
</a>
<a href="#" class="main-menu color-green text-decoration-none">
  <img src="{% static 'images/header/menu_order.svg' %}" alt="">
  <div class="menu-label">{% trans "Order game" %}</div>
</a>
<a href="#" class="main-menu color-turquoise text-decoration-none">
  <img src="{% static 'images/header/menu_about.svg' %}" alt="">
  <div class="menu-label">{% trans "About" %}</div>
</a>
<a href="#" class="main-menu color-purple text-decoration-none">
  <img src="{% static 'images/header/menu_payment.svg' %}" alt="">
  <div class="menu-label">{% trans "Payment" %}</div>
</a>
