{% load static i18n %}
<a href="{% url 'home' %}" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_main.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_main_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 text-[18px] font-bold text-[var(--color-pink)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-pink-hover)]"
  >
    {% trans "Главная" %}
  </span>
</a>

<a href="#" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_catalog.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_catalog_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 text-[18px] font-bold text-[var(--color-orange)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-orange-hover)]"
  >
    {% trans "Каталог" %}
  </span>
</a>

<a href="#" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_abc.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_abc_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 text-[18px] font-bold leading-5 text-[var(--color-yellow)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-yellow-hover)]"
  >
    {% trans "Алфавитный" %}<br>{% trans "навигатор" %}
  </span>
</a>

<a href="#" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_order.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_order_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 whitespace-nowrap text-[18px] font-bold text-[var(--color-green)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-green-hover)]"
  >
    {% trans "Игра на заказ" %}
  </span>
</a>

<a href="{% url 'about' %}" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_about.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_about_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 text-[18px] font-bold text-[var(--color-turquoise)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-turquoise-hover)]"
  >
    {% trans "О нас" %}
  </span>
</a>

<a href="#" class="group flex w-[74px] flex-col items-center text-center no-underline">
  <span
    data-header-nav-icon
    class="relative block max-h-0 w-[74px] -translate-y-2 overflow-hidden opacity-0 transition-[max-height,opacity,transform] duration-600 ease-in-out"
  >
    <img src="{% static 'images/header/menu_payment.svg' %}" alt="" class="size-[74px] group-hover:opacity-0">
    <img
      src="{% static 'images/header/menu_payment_hover.svg' %}"
      alt=""
      class="absolute inset-0 size-[74px] opacity-0 group-hover:opacity-100"
    >
  </span>
  <span
    data-header-nav-label
    class="mt-0 text-[18px] font-bold text-[var(--color-purple)] transition-[margin] duration-600 ease-in-out group-hover:text-[var(--color-purple-hover)]"
  >
    {% trans "Оплата" %}
  </span>
</a>
