{% load static %}

<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/vk.svg' %}" alt="VK" class="size-[46px]">
</a>
<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/yandex.svg' %}" alt="Yandex" class="size-[46px]">
</a>
<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/google.svg' %}" alt="Google" class="size-[46px]">
</a>
<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/telegram.svg' %}" alt="Telegram" class="size-[46px]">
</a>
