{% load static %}

{% comment %}
<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/vk.svg' %}" alt="VK" class="size-[46px]">
</a>
{% endcomment %}
<a
  href="#"
  class="block size-[46px]"
  data-social-login-provider="yandex"
  aria-label="Войти с помощью Yandex"
  title="Войти с помощью Yandex"
>
  <img src="{% static 'images/social/yandex.svg' %}" alt="Yandex" class="size-[46px]">
</a>
<a
  href="#"
  class="block size-[46px]"
  data-social-login-provider="google"
  aria-label="Войти с помощью Google"
  title="Войти с помощью Google"
>
  <img src="{% static 'images/social/google.svg' %}" alt="Google" class="size-[46px]">
</a>
{% comment %}
<a href="#" class="block size-[46px]">
  <img src="{% static 'images/social/telegram.svg' %}" alt="Telegram" class="size-[46px]">
</a>
{% endcomment %}
