{% load static i18n %}

<div class="relative w-full px-[70px] py-[60px]">
  <div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">
    <img src="{% static 'images/decor/clouds/cloud-3.svg' %}" alt="" class="absolute left-[30px] top-[30px] w-[70px] opacity-80" draggable="false">
    <img src="{% static 'images/decor/clouds/cloud-3.svg' %}" alt="" class="absolute right-[35px] top-[40px] w-[55px] opacity-80" draggable="false">
    <img src="{% static 'images/decor/clouds/cloud-3.svg' %}" alt="" class="absolute left-[45px] bottom-[35px] w-[62px] opacity-70" draggable="false">
    <img src="{% static 'images/decor/clouds/cloud-3.svg' %}" alt="" class="absolute right-[55px] bottom-[30px] w-[48px] opacity-70" draggable="false">
  </div>

  <button
    type="button"
    data-dialog-close
    class="absolute right-[25px] top-[25px] inline-flex h-[25px] w-[25px] cursor-pointer items-center justify-center"
    aria-label="{% trans 'Закрыть' %}"
  >
    <img src="{% static 'images/icons/close-icon.svg' %}" alt="" class="h-[25px] w-[25px]" aria-hidden="true" draggable="false">
  </button>

  <div class="relative z-10 flex flex-col items-center text-center">
    <img src="{% static 'images/icons/cart.svg' %}" alt="" class="h-[140px] w-[140px]" aria-hidden="true" draggable="false">

    <p class="mt-[24px] text-[18px] font-bold leading-none text-[var(--color-black)]">
      {% trans "Товар добавлен в корзину" %}
    </p>

    <div class="mt-[24px] flex flex-col items-center gap-[18px]">
      <a href="{% url 'cart' %}" class="btn-soft-green flex h-[55px] w-[250px] items-center justify-center">
        {% trans "Перейти к оформлению" %}
      </a>
      <button type="button" data-dialog-close class="btn-soft-pink h-[55px] w-[250px]">
        {% trans "Продолжить покупки" %}
      </button>
    </div>
  </div>
</div>
