{% load static %}

{% if demo_mode %}
  <script type="application/json" data-account-demo-data>
    {
      "orders": [
        {
          "number": "12345",
          "date": "15.04.2025",
          "total": "50 {{ default_currency_code }}",
          "items": [
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" }
          ]
        },
        {
          "number": "12346",
          "date": "15.04.2025",
          "total": "50 {{ default_currency_code }}",
          "items": [
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" }
          ]
        },
        {
          "number": "12347",
          "date": "15.04.2025",
          "total": "50 {{ default_currency_code }}",
          "items": [
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
            { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" }
          ]
        }
      ],
      "favorites": [
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" },
        { "title": "Белорусский калейдоскоп игр", "price": "1,5 {{ default_currency_code }}", "img": "{% static 'images/home/hero/owl.svg' %}" }
      ]
    }
  </script>
{% endif %}
