{% load i18n %}

<div class="max-w-[610px] pt-[22px]">
  <p class="text-[18px] leading-[22px] text-[var(--color-black-80)]">
    {% blocktrans trimmed %}
    Дидактическая игра «Виды транспорта» помогает сформировать познавательный интерес к разным видам транспорта, а также закрепить знания о классификации, его особенностях и назначении.
    {% endblocktrans %}
  </p>

  <div class="mt-[18px] text-[18px] leading-[22px] text-[var(--color-black)]">
    <p><span class="font-bold">{% trans "Возраст:" %}</span> 4 - 7 лет.</p>
    <p class="mt-[8px]"><span class="font-bold">{% trans "Форма проведения игры:" %}</span> {% trans "индивидуальная, подгрупповая." %}</p>
  </div>
</div>
