{% load static i18n %}

<section class="relative overflow-hidden bg-[var(--color-white)]">
<!--  <div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[70px] top-[55px] w-[190px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[520px] top-[70px] w-[95px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-1.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[120px] top-[35px] w-[170px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[40px] top-[135px] w-[120px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/balloons/balloon-orange.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[235px] top-[90px] w-[46px]"-->
<!--      draggable="false"-->
<!--    >-->

<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[95px] top-[420px] w-[105px] opacity-80"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-1.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[70px] top-[470px] w-[145px] opacity-80"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[560px] bottom-[95px] w-[120px] opacity-70"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[120px] bottom-[70px] w-[120px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/aerostats/aerostat-pink.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[120px] bottom-[50px] w-[140px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--  </div>-->

  <div class="mx-auto w-full max-w-[1200px] px-4 py-[70px]">
    <h1 class="text-center text-[40px] font-bold uppercase text-[var(--color-black)]">
      {% trans "Каталог" %}
    </h1>

    <div class="mx-auto mt-[70px] grid w-fit grid-cols-3 gap-x-[30px] gap-y-[50px] xl:gap-x-[100px] xl:gap-y-[100px]">
      {% for category in catalog_categories %}
        <a
          href="{{ category.url }}"
          class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] {{ category.background_class }}"
        >
          <img
            src="{{ category.image_url }}"
            alt=""
            class="h-[94px] w-[100px]"
            draggable="false"
          >
          <div class="mt-[10px] max-w-[230px] text-balance text-center text-[24px] leading-[36px] font-bold {{ category.text_class }}">
            {{ category.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
