{% load static i18n %}

<section class="relative overflow-hidden bg-[var(--color-white)]">
<!--  <div class="pointer-events-none absolute inset-0 select-none" aria-hidden="true">-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[70px] top-[55px] w-[190px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[520px] top-[70px] w-[95px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-1.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[120px] top-[35px] w-[170px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[40px] top-[135px] w-[120px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/balloons/balloon-orange.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[235px] top-[90px] w-[46px]"-->
<!--      draggable="false"-->
<!--    >-->

<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[95px] top-[420px] w-[105px] opacity-80"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-1.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[70px] top-[470px] w-[145px] opacity-80"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-2.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[560px] bottom-[95px] w-[120px] opacity-70"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/clouds/cloud-3.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute right-[120px] bottom-[70px] w-[120px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--    <img-->
<!--      src="{% static 'images/decor/aerostats/aerostat-pink.svg' %}"-->
<!--      alt=""-->
<!--      class="absolute left-[120px] bottom-[50px] w-[140px]"-->
<!--      draggable="false"-->
<!--    >-->
<!--  </div>-->

  <div class="mx-auto w-full max-w-[1200px] px-4 py-[70px]">
    <h1 class="text-center text-[40px] font-bold uppercase text-[var(--color-black)]">
      {% trans "Каталог" %}
    </h1>

    <div class="mx-auto mt-[70px] grid w-fit grid-cols-3 gap-x-[100px] gap-y-[100px]">
      <a
        href="{% url 'catalog' %}?category=didactic-games"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-mint)]"
      >
        <img
          src="{% static 'images/catalog/didactic-games.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-turquoise)]">
          {% trans "Дидактические игры" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=lapbooks"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-lilac)]"
      >
        <img
          src="{% static 'images/catalog/laptops.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-purple)]">
          {% trans "Лэпбуки" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=interactive-games"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-mint)]"
      >
        <img
          src="{% static 'images/catalog/interactive-games.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-turquoise)]">
          {% trans "Интерактивные игры" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=group-design"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-lilac)]"
      >
        <img
          src="{% static 'images/catalog/group-design.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-purple)]">
          {% trans "Оформление группы" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=themed-images"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-mint)]"
      >
        <img
          src="{% static 'images/catalog/themed-images.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[230px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-turquoise)]">
          {% trans "Тематические изображения" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=file-cabinets"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-lilac)]"
      >
        <img
          src="{% static 'images/catalog/file-cabinets.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-purple)]">
          {% trans "Картотеки" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=visualization"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-mint)]"
      >
        <img
          src="{% static 'images/catalog/visualization.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-turquoise)]">
          {% trans "Визуализация" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=learn-languages"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-lilac)]"
      >
        <img
          src="{% static 'images/catalog/learn-languages.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[210px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-purple)]">
          {% trans "Изучаем языки" %}
        </div>
      </a>

      <a
        href="{% url 'catalog' %}?category=methodological-materials"
        class="flex h-[247px] w-[300px] flex-col items-center justify-center rounded-[30px] bg-[var(--color-mint)]"
      >
        <img
          src="{% static 'images/catalog/methodological-materials.svg' %}"
          alt=""
          class="h-[94px] w-[100px]"
          draggable="false"
        >
        <div class="mt-[10px] max-w-[230px] text-balance text-center text-[24px] leading-[36px] font-bold text-[var(--color-turquoise)]">
          {% trans "Методические материалы" %}
        </div>
      </a>
    </div>
  </div>
</section>
